html {
    font-family: "noto sans", sans-serif;
    font-size: 16pt;
}

body {
    font-size:0.66em;
    margin:0;
    background:orange;
}

h3{
    margin:0;
}

h4 {
    margin-top:0;
}

.wrapper{
    display:flex;
    flex-direction:column;
    background:lightgray;
}

header {
    display: flex;
    line-height:1em;
    margin: 0 0 1em 0;
    font-weight:bolder;
    color:#666;
    position:fixed;
    top:0;
    width:100%;
    z-index:1;
    background:white;
}

a {
    text-decoration:none;
}

header img {
    height:5em;
}

.horiz-container{
    display:flex;
}

nav {
    position:fixed;
    top:5em;
    left:0;
    width:10%;
    background:white;
    height:100%;
}

nav ul {
    padding: 0 0 0 0;
    margin:0;
}

nav ul li{
    list-style:none;
    padding: 0.5em 1em 0.5em 1em;
    border-top-left-radius:5px;
    margin-bottom:0.5em;
    text-align:right;
    box-shadow: -5px 3px 2px 2px lightgray;
}

nav ul li:hover{
    background:orange;
}

.active-tab{
    background:orange;
}

.left-content{
    padding: 0.5em 1em 0 1em;   
    background:orange;
    margin-top:5em;
    margin-left:10%;
    margin-right:40%;
}

.right-img-fade{
    position:fixed;
    top:0;
    right:0;
    width:40%;
    flex-shrink:3;
    flex-grow:0;    
    overflow:hidden;
    height:100vh;
    /*background:url("../images/Collegepic.jpg");*/
}


.right-img-fade img{
   height:100%;
}

.right-img-fade .right-img-fade-overlay{
    position:absolute;
    top:0;
    left:0;
    width:66%;
    height:100%;
    background-image: linear-gradient(to right, orange , rgba(255,255,255,0));
}

footer{
    width:100%;
}

.course-summary{    
    margin-bottom:2em;
    margin-top:1em;
}

.course-summary p {
    margin:0 0 1em 0;
}

.course-summary h4{
    margin-top:0;
}

.logosmall{
    flex-shrink:0;
    flex-grow:0;
    width:128px;
    margin-right:2em;
}

.logosmall img{
    width:100%;
}

.button{
    border:2px solid gray;
    width:10em;
    text-align:center;
    padding:0.5em 1em 0.5em 1em;
    margin-top:0.25em;
    text-decoration:none;
}

.button:hover{
    background:lightgray;
}
