html {
    font-family: "noto sans", sans-serif;
    font-size: 16pt;
}

body {
    font-size:0.66em;
    margin:0;
    background:orange;
    color:#222;
}

hr{
    border:1px solid gray;
}

h1{
    margin:0 0 1em 0;
}

h3{
    margin:0;
}

h4 {
    margin-top:0;
}

em{
    font-style:normal;
    color:black;
    font-weight:600;
}


header{
    display: flex;      
    margin: 0 0 1em 0;
    font-weight:bolder;
    color:#666;
    position:fixed;
    top:0;
    width:100%;
    z-index:1;
    background:white;

    height:6em;
}

a {
    color:black;
    text-decoration:none;
}

#college-logo{
    font-size:2em;
    display:flex;
    line-height:1em;   
    color:#666;
}

header img {
    height:3em;
}

.horiz-container{
    display:flex;
}

nav {
    position:fixed;
    top:6em;
    left:0;
    width:8em;
    background:white;
    height:100%;
}

nav ul {
    padding: 0 0 0 0;
    margin:0;
}

nav ul li{
    list-style:none;
    padding: 0.5em 1em 0.5em 1em;
    border-top-left-radius:5px;
    margin-bottom:0.5em;
    text-align:right;
    box-shadow: -5px 3px 2px 2px lightgray;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

nav ul li:hover{
    background:orange;
}

.active-tab{
    background:orange;
}

.left-content{
    padding: 0.5em 1em 0 1em;   
    background:orange;
    margin-top:6em;
    margin-left:8em;
    margin-right:40%;
}

.right-img-fade{
    position:fixed;
    top:0;
    right:0;
    width:40%;
    flex-shrink:3;
    flex-grow:0;    
    overflow:hidden;
    height:100vh;
    /*background:url("../images/Collegepic.jpg");*/
}


.right-img-fade img{
   height:100%;
}

.right-img-fade .right-img-fade-overlay{
    position:absolute;
    top:0;
    left:0;
    width:66%;
    height:100%;
    background-image: linear-gradient(to right, orange , rgba(255,255,255,0));
}

footer{
    width:100%;
}

.course-summary{    
    margin-bottom:2em;
    margin-top:1em;
}

.course-summary p {
    margin:0 0 1em 0;
}

.course-summary h4{
    margin-top:0;
}

.logosmall{
    flex-shrink:0;
    flex-grow:0;
    width:128px;
    margin-right:2em;
}

.logosmall img{
    width:100%;
}

.button{
    border:2px solid gray;
    width:10em;
    text-align:center;
    padding:0.5em 1em 0.5em 1em;
    margin-top:0.25em;
    text-decoration:none;
}

.button:hover{
    background:lightgray;
}

.location-details p{
    margin:0;
}

.location-details a{
    position:relative;
    top:0;
    left:0;
    margin-right:3em;
    width:196px;
    height:196px;
    flex-shrink:0;
}

.location-details a:after {
    position:absolute;
    top:0;
    left:0;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0.15;
    background: black;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.location-details a:hover:after{
    opacity:0;
}

.location-details img{
    width:100%;
}

table,td,tr,th{
    border: 2px solid orange;
    border-collapse: collapse;
    padding:1em;
    background:darkorange;
}

.inline-icon{
    display:inline-block;
    height:1em;
}